<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" charset="utf-8">
	<title>Hi, I'm Vinod Selvin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="icon" href="images/vinod-logo.png"/>
  </head>
  <body>
	
	<section>
		<div class="container-fluid my-container">
			<div class="card mycard">
				<div class="row card-img-top">
					<div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 col-xl-6 hidden-xs-down vinod">
						<img src="images/vinod.png">
					</div>
					<div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 col-xl-6 my-quote">
						<h1 class="represent">&lt;Hi, I am</h1>
						<h1 class="name"><span>Vinod</span> <span>SELVIN</span>/&gt;</h1>
						<p class="designation">Software Developer from Mumbai</p>
						<div class="know-more"><a href="https://github.com/vinodselvin" target="_blank">Know More <i class="fa fa-long-arrow-right"></i></a></div>
						<p class="follow-me"><span>Follow me here </span>
							<a href="https://plus.google.com/+VinodSelvin" target="_blank" class="fa fa-google" title="+me on Google Plus"></a>
							<a href="https://github.com/vinodselvin" target="_blank" class="fa fa-github" title="Follow me on GitHub"></a>
							<a href="https://www.youtube.com/c/VinodSelvin" target="_blank" class="fa fa-youtube" title="Subscribe me on YouTube"></a>
							<a href="https://www.facebook.com/nadar.vinod.selvin" target="_blank" title="Facebook" class="fa fa-facebook"></a>
							<a href="https://twitter.com/vinodselvin" target="_blank" class="fa fa-twitter" title="Follow me on Twitter"></a>
							<a href="https://www.linkedin.com/in/vinod-selvin-nadar-02794298/" title="LinkedIn" target="_blank" class="fa fa-linkedin"></a>
							<a href="https://www.instagram.com/vinodselvin/" target="_blank" class="fa fa-instagram" title="Follow me on Instagram"></a>
						</p>
					</div>
					
				</div>
				<div class="card-block my-card-body">
					<div class="container my-container-2">
						<div class="row">
							<div class="col-lg-9 col-xs-12 col-sm-12 col-md-9">
								<h5 class="text-primary" style="font-weight: bold;">REPOSITORIES</h5>
								<h2>It's harder to read <span class="text-danger" style="font-weight: bold;">CODE</span> than to write it.</h2>
								<div class="divider"></div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<div class="dropdown pull-right">
									<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
									  Filter Repositories
									</button>
									<div class="dropdown-menu">
									  <a class="dropdown-item filter-repo" data-filter="my" href="#">My Repositories</a>
									  <a class="dropdown-item filter-repo" data-filter="forked" href="#">Forked</a>
									  <a class="dropdown-item filter-repo" data-filter="clear" href="#">All</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 p-0">
							<div class="container-fluid p-30 p-t-0 card-col">
								<div class="row" id="vinodReposCards">
									<div class="col-lg-4 col-xs-12 col-sm-12 col-md-6 p-b-30">
										<div class="box-container splash shdow">
											<div class="animated-background">
												<div class="background-masker content-top"></div>
												<div class="splash-line"></div>
												<div class="background-masker content-first-end"></div>
												<div class="background-masker content-third-line"></div>
												<div class="background-masker content-second-end"></div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-xs-12 col-sm-12 col-md-6 p-b-30">
										<div class="box-container splash shdow">
											<div class="animated-background">
												<div class="background-masker content-top"></div>
												<div class="splash-line"></div>
												<div class="background-masker content-first-end"></div>
												<div class="background-masker content-third-line"></div>
												<div class="background-masker content-second-end"></div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-xs-12 col-sm-12 col-md-6 p-b-30">
										<div class="box-container splash shdow">
											<div class="animated-background">
												<div class="background-masker content-top"></div>
												<div class="splash-line"></div>
												<div class="background-masker content-first-end"></div>
												<div class="background-masker content-third-line"></div>
												<div class="background-masker content-second-end"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="page-footer center-on-small-only stylish-color-dark">
	    <div class="container footer-first">
	        <div class="row line">

	            <!--First column-->
	            <div class="col-md-4">
	                <h5 class="title mb-4 mt-3 font-bold">Vinod Selvin</h5>
	                <p>Here you can find my GitHub Repositories updates and examples of how to use those.</p>
	                <p class="follow-me">
						<a href="https://plus.google.com/+VinodSelvin" target="_blank" class="fa fa-google" title="+me on Google Plus"></a>
						<a href="https://github.com/vinodselvin" target="_blank" class="fa fa-github" title="Follow me on GitHub"></a>
						<a href="https://www.youtube.com/c/VinodSelvin" target="_blank" class="fa fa-youtube" title="Subscribe me on YouTube"></a>
						<a href="https://www.facebook.com/nadar.vinod.selvin" target="_blank" title="Facebook" class="fa fa-facebook"></a>
						<a href="https://twitter.com/vinodselvin" target="_blank" class="fa fa-twitter" title="Follow me on Twitter"></a>
						<a href="https://www.linkedin.com/in/vinod-selvin-nadar-02794298/" title="LinkedIn" target="_blank" class="fa fa-linkedin"></a>
						<a href="https://www.instagram.com/vinodselvin/" target="_blank" class="fa fa-instagram" title="Follow me on Instagram"></a>
					</p>
	            </div>
	            <hr class="clearfix w-100 d-md-none">
		        <div class="col-md-4 mx-auto">
		            <h5 class="title mb-4 mt-3 font-bold">HTML/CSS Examples</h5>
		            <ul class="footer-list">
		                <li><a href="https://codepen.io/vinodselvin/pen/PKwNex" title="https://www.switchme.in" ref="https://www.switchme.in">SwitchMe Logo</a></li>
		                <li><a href="https://codepen.io/vinodselvin/pen/mWxWVP">Circular Progress bar</a></li>
		                <li><a href="https://codepen.io/vinodselvin/pen/NwWKZV">Image Previewer</a></li>
		            </ul>
		        </div>
            	<hr class="clearfix w-100 d-md-none">
		        <div class="col-md-4 mx-auto">
		            <h5 class="title mb-4 mt-3 font-bold"></h5>
		            <ul class="footer-list">
		            	<li><a href="https://vinodselvin.github.io/Currency-Counter/">Currency Counter</a></li>
		                <li><a href="https://codepen.io/vinodselvin/pen/WpKzdB">Car Animation</a></li>
		                <li><a href="https://codepen.io/vinodselvin/pen/ooNpPv">Programming DIY logo</a></li>
		            </ul>
		        </div>
	        </div>
	        <div class="row" id="footerLinks">
	        	
	        </div>
	    </div>

	    <!--Copyright-->
	    <div class="footer-copyright">
	        <div class="container-fluid">
	            © 2017 Copyright: <a href="https://vinodselvin.github.io"> https://vinodselvin.github.io/ </a>

	        </div>
	    </div>
	</footer>
    
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>

    <script type="text/x-jsrender" id="footerLinksTemplate">
    	{{props footerlist}}
    	<hr class="clearfix w-100 d-md-none">
        <!--Second column-->
        <div class="col-md-3 mx-auto">
            <h5 class="title mb-4 mt-3 font-bold">{{>key}}</h5>
            <ul class="footer-list">
            	{{for prop}}
                <li><a href="{{:html_url}}">{{:name}}</a></li>
            	{{/for}}
            </ul>
        </div>
        {{/props}}
    </script>

    <script id="vinodReposCardTemplate" type="text/x-jsrender">
		<div class="col-lg-4 col-xs-12 col-sm-12 col-md-6 p-b-30 forked-{{:fork}}">
			<div class="box-container eachcard">
				{{if !fork}}
			      <div class="box-head" title="My Repository"><i class="fa fa-code-fork text-danger"></i> {{:name}}</div>
			   	{{/if}}
				
				{{if fork}}
			      <div class="box-head" title="Forked"><i class="fa fa-cutlery text-primary"></i> {{:name}}</div>
			   	{{/if}}
				<div class="box-body text-capitalize">
					<i class="fa fa-toggle-right text-warning"></i> {{:description}}
					<br><br>
					<div><i class="fa fa-certificate text-danger"></i> Language: {{:language}}</div>
					<div><i class="fa fa-certificate text-danger"></i> Last Update: {{:pushed_at}}</div>
					
				</div>
				<div class="know-more-card">
					<a href="{{:html_url}}" target="_blank">
						<i class="fa fa-code"></i> Know More <i class="fa fa-long-arrow-right"></i>
					</a>
				</div>
			</div>
		</div>
	</script>
    <script type="text/javascript">

    	var vinod_repos = "https://api.github.com/users/vinodselvin/repos";
    	var groupbyLanguage = {
    		footerlist : {}
    	};

    	$(document).ready(function(e){
    		$.ajax({url: vinod_repos, success: function(result){

		        var template = $.templates("#vinodReposCardTemplate");
		        var footerlinktemplate = $.templates("#footerLinksTemplate");

				$.each(result, function (index, data) {

					var langs;

					result[index]['pushed_at'] = humanReadableDate(data['pushed_at']);
			    	result[index]['name'] = formatName(data['name']);
			    	result[index]['description'] = formatText(data['description']);

			    	data['language'] = (data['language']) ? data['language'] : "Others"
					langs = groupbyLanguage['footerlist'][data['language']];

			    	langs = (!langs) ? [] : langs;
			    	langs.push(result[index]);

			    	groupbyLanguage['footerlist'][data['language']] = langs;
			    })
				result = result.sort(function (a, b) {
				    return -(new Date(a.pushed_at) - new Date(b.pushed_at));
				});
				console.log(groupbyLanguage);
				var htmlOutput = template.render(result);
				$("#footerLinks").html(footerlinktemplate.render(groupbyLanguage));
				$("#vinodReposCards").html(htmlOutput);
		    }});

		    $(window).scroll(function(){
			    if($(window).scrollTop() == $(document).height() - $(window).height() - $("footer").height()) {
			        console.log("sdsd");
			    }
			});
    	});

    	function humanReadableDate(dateData){
    		var dateObject, dateReadable;
			dateObject = new Date(Date.parse(dateData));
			dateReadable = dateObject.toDateString();
			return dateReadable;
    	}

    	function formatName(name){
    		name = name.replace(/\d+/g, '');
    		name = name.replace(/-+/g, ' ');
    		name = name.replace(/_+/g, ' ');
    		name = name.replace(/\w\S*/g, function(txt){
    			return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
    		});

    		return name;
    	}

    	function formatText(text){
    		
    		if(!text){
    			return "No description available, click on Know more button for more info.";
    		}
    		return text;
    	}
    	$(document).on("click",".filter-repo", function(e){
			e.preventDefault();
			var filter = $(this).data('filter');
			
			if(filter == "my"){
				$(".forked-true").removeClass("hidden-xs-up");
				$(".forked-false").addClass("hidden-xs-up");
			}
			else if(filter == "forked"){
				$(".forked-false").removeClass("hidden-xs-up");
				$(".forked-true").addClass("hidden-xs-up");
			}
			else if(filter == "clear"){
				$(".forked-false").removeClass("hidden-xs-up");
				$(".forked-true").removeClass("hidden-xs-up");
			}
		});
    </script>
  </body>
</html>
